.pop {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid var(--main-font-color);
  border-left: 4px solid var(--main-font-color);
  border-right: 4px solid var(--main-font-color);
}

.pop > div:first-child {
  border-right: 4px solid var(--main-font-color);
}

.pop > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.pop .today {
  color: var(--highlight-font-color);
}

.spacer,
.pop:last-child {
  margin-bottom: 15px;
  border-bottom: 4px solid var(--main-font-color);
}

.pop > div {
  width: 6rem;
  height: 6rem;
  /* background-color: rgb(65, 65, 65); */
  /* color: white; */
}

.pop > div:not(:first-child) {
  width: 12rem;
}

.pop input {
  width: 2rem;
  height: 2rem;
}
