.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.brand {
  font-weight: bold;
  font-size: 1.75rem;
}

.nav {
  display: flex;
  font-size: 1.2rem;
}

.nav a {
  padding: 10px 15px;
  border-radius: 20px;
}

.nav a:hover {
  background-color: var(--highlight-color);
}

.active {
  background-color: var(--highlight-color);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav a {
    display: block;
  }
  .nav {
    gap: 0.6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav {
    gap: 1rem;
  }
}
