:root {
  --background-color: #0e223b;
  --background-color-phase-2: #0e223b;
  --background-color-phase-3: #04060f;
  --main-color: #162234;
  --highlight-color: #00000c;
  --main-font-color: #97d0fe;
  --main-font-background: #2f5384;
  --secondary-font-color: #5790ae;
  --highlight-font-color: crimson;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #d9d7d7; */
  color: var(--main-font-color);
  background: var(--background-color);
  background: radial-gradient(
    circle,
    var(--background-color) 0%,
    var(--background-color-phase-2) 33%,
    var(--background-color-phase-3) 100%
  );
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

dialog {
  position: relative;
}

header,
main,
footer {
  /* background-color: #c9c7c7; */
  display: flex;
  margin: auto;
  /* justify-content: center; */
}

header {
  min-height: 55px;
  /* border-bottom: 3px solid #97d0fe; */
}

footer {
  /* border-top: 3px solid #97d0fe; */
  min-height: 55px;
}

main {
  min-height: calc(100vh - 55px - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    min-height: 65px;
  }

  footer {
    min-height: 65px;
  }

  main {
    min-height: calc(100vh - 65px - 65px);
  }
  header,
  main,
  footer {
    width: 600px;
  }

  html {
    font-size: 1.1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    min-height: 75px;
  }

  footer {
    min-height: 75px;
  }

  main {
    min-height: calc(100vh - 75px - 75px);
  }
  header,
  main,
  footer {
    width: 768px;
  }
  html {
    font-size: 1.2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    min-height: 85px;
  }

  footer {
    min-height: 85px;
  }

  main {
    min-height: calc(100vh - 85px - 85px);
  }
  header,
  main,
  footer {
    width: 992px;
  }
  html {
    font-size: 1.3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    min-height: 95px;
  }

  footer {
    min-height: 95px;
  }

  main {
    min-height: calc(100vh - 95px - 95px);
  }
  header,
  main,
  footer {
    width: 1200px;
  }
  html {
    font-size: 1.4rem;
  }
}
